* {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
.task__section {
  clear: left;
  padding-top: 32px;
}
.grouping {
    margin: 8px 16px;
    float: left;
    width: 30%;
}
.new__group {
  padding-top: 32px;
  clear: left;
}
.line-item span{
  font-weight: 100;
  margin-right: 5px;
}
